﻿* {
margin:0;
padding:0;
}
body {
    font-family:Arial, sans-serif;
    font-size:14px;
}
.clear{
    clear:both;
}
a{
    text-decoration:none;
    color:#000;
}
a:hover{
    cursor:pointer;
}
.wrapper{    
    max-width:2017px;
    margin:0 auto;
}
.wrapper_head {
    background: #1b75bb;
    overflow: hidden;   
}
.mob_menu_link{
    display:none;
}
.cart.icon{
    display:none;
}
.log_in.icon{
    display:none;
}
#toggle{
    display:none;
}
.icon {
    background: url(../img/header_img.png) no-repeat center center;
    width: 30px;
    height: 27px;
    line-height: 27px;
    vertical-align: middle;
    background-size: 95px 195px;
}
.wrapper_head_left_menu {
    display: inline-block;
    margin: 26px 26px 18px;
    color: #b3b3b3;
}
.wrapper_head_left_menu ul {
    list-style: none;      
}
.wrapper_head_left_menu ul li {
    display: inline-block;
    padding: 0 10px;
    border-right: 1px solid #b3b3b3;
    line-height: 18px;
}
.wrapper_head_left_menu ul li:last-child{
    border:none;
}

.wrapper_head_left_menu ul li a {
    color: #fff;
}
.wrapper_head_left_menu ul li a:hover {
    cursor: pointer;
    text-decoration: underline;
            }
.wrapper_head_right_menu {
    margin: 26px 26px 18px;
    color: #b3b3b3;
    float: right;
    display: inline-block;
}
.wrapper_head_right_menu ul {
    list-style: none;
}
.wrapper_head_right_menu ul li {
     display: inline-block;
     padding: 0 10px;
     border-right: 1px solid #b3b3b3;
     line-height: 18px;
}
.wrapper_head_right_menu ul li:last-child {
    border: none;
}
.wrapper_head_right_menu ul li a {
    color: #fff;
}
.wrapper_head_right_menu ul li a:hover {
    cursor: pointer;
    text-decoration: underline;
}
.head_logo.icon{
        margin:0 auto;
        display:block;
        width:132px;
        height:54px;
        margin-bottom:30px;
        background-position:15px -4px;
        background-size:100%;
    }
.menu {
    text-align: center;
    color: #000;
}
.menu ul {
    list-style: none;   
}
.menu ul li{
    display:inline-block;
    line-height:18px;
    padding:24px 66px;
    position: relative;    
}
.menu ul li a:hover {
    border-bottom: 3px solid ##1b75bb;
}
.menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    background: #1b75bb;
    opacity:0.9;
    float: none;
    right: 0;
    left: 0;
    width: 100%;
}
.menu ul li:hover ul {
    display: block;
}
.menu ul li:hover li {
    display:block;
    padding:5px;
}
.menu ul li:hover ul h3 {
    color: #fff;
    margin-top:24px;
}
.menu ul li:hover ul a{
    color:#fff;
}
.underline {
    border: 1px solid #bedcf3;
}
.wrapper_content {
    margin-top: 50px;
}
.wrapper_content_menu {
    margin: 0 1% 0 5%;
    vertical-align: top;
    display: inline-block;
    width:158px;  
}
.wrapper_content_menu ul{
    list-style:none;
    margin-bottom:40px;
}
.wrapper_content_menu ul li{
    padding:8px;
}
.wrapper_content_product {
    display: inline-block;
    width: calc(90% - 200px);
}
.wrapper_content_product ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;   
}
.wrapper_content_product ul li {
    display: inline-block;
    box-sizing: border-box;
    width: 25%;
    margin-bottom: 50px;
    padding:10px 0;
}
.wrapper_content_product ul li:hover {
    box-shadow: 0 0 5px 2px rgba(122,122,122,0.8);
}
.wrapper_content_product ul li img {
    max-width: 60%;
    height: auto;
    padding: 0 20%;
}
.wrapper_content_product ul li p{
    text-align:center;
}
.button {
    width: 130px;
    height: 40px;
    margin: 0 auto;
    background: #1b75bb;
    border-radius:70px;
    margin-top:10px;
}
.button p{
    text-align:center;
    padding:13px;
    color:#fff;
}
.button:hover {
    background: #0b62a5;
}
.line {
    border: 1px solid #bedcf3;
    margin-top: 194px;
    }
.mob_footer{
    display:none;
}
.footer {
    margin: 0 26px 5px;
}
.wrapper_footer_left_menu{
    float:left;
    display:inline-block;
}
.footer ul {
    list-style: none;
}
.wrapper_footer_left_menu ul li {
    display: inline-block;
    padding: 18px;
}
.wrapper_footer_right_menu {
    float: right;
    display: inline-block;
}
.wrapper_footer_right_menu h3 {
    display: inline-block;
    padding: 18px 5px;
}
.wrapper_footer_right_menu ul{
    display:inline-block;
}
.wrapper_footer_right_menu ul li {
    display: inline-block;
    padding: 10px 5px;
}
.vk_ebook.icon {
    display: inline-block;
    background-position: -8px -148px; 
}
.instagram_ebook.icon {
    display: inline-block;
    background-position: -36px -148px;
}
.facebook_ebook.icon {
    display: inline-block;
    background-position: -66px -148px;   
}



@media only screen and (max-width:1010px) {
    .menu ul li {
        padding: 24px 33px;
    }
    .wrapper_content_product ul li {
        width: 33%;
    }
}


@media only screen and (max-width:750px) {
    body {
        font-size: 12px;  
        max-width: 750px;
    }
    .wrapper_head_left_menu {
        display: none;
    }
    .wrapper_head_right_menu {
        display: none;
    }
    .menu {
        display: none;
    }
    .wrapper_content_menu {
        display: none;
    }
    .wrapper_head .wrapper {
        margin: 20px 10px;
        display: flex;
        justify-content: space-between;
    }
    .mob_menu_link.icon {
        display: inline-block;
        color: #fff;
        vertical-align: middle;
        line-height: 27px;
        background-position: -8px -122px;   
    }
           
    label {
        display: block;
        cursor: pointer;
        color: #fff; 
        line-height: 27px;
        width:30px;
        height:27px;   
    }
    .mob_menu {
        background: #1b75bb;
        text-align: left;
        width: 80%;
        height: 100%;
        display: none;
        position: absolute;
        bottom: 0;
        left: -100%;
        top: 66px;
    }
    .mob_menu li {
        list-style: none;
        margin: 10px 34px;
    }
    .mob_menu a {
        display: block;
        color: #fff;
    }
    #toggle:checked + .mob_menu {
        left: 0;
        display: block;
        transition: 3s width ease;
    }
    .head_logo.icon {
        display: inline-block;
        width: 88px;
        height: 27px;
        margin: 0 auto;
     }
    .log_in.icon {
        display: inline-block;
        background-position: -2px -91px;
     }
    .cart.icon {
        display: inline-block;
        padding: 0 9px;  
        background-position: -2px -45px;
     }
    .cart span {
        font-size:6px;
        padding:0 12px;
        color: #fff;
        text-align: center;
     }
    .wrapper_content {
        margin: 50px 16px;
        flex-wrap: wrap;
    }
    .wrapper_content_product {
        width: 100%;
        text-align: left;
    }
    .wrapper_content_product ul {
        flex-wrap: wrap;
    }
    .wrapper_content_product ul li {
        margin-bottom: 25px;
        width: 50%;
        padding: 5px;
     }   
    .wrapper_content_product li img {
        max-width: 100%;
    }
    .line {
        margin-top: 122px;
    }
    .footer {
        display: none;
    }
    .mob_footer {
        display: block;
        text-align: center;
    }
    .mob_footer ul li {
        list-style: none;
        display:inline-block;
        padding:15px;
    }            
}